

/fronted/node_modules
/fronted/.env
/SocialMediaB/config/config.env
/socailfronted/.pnp
/socailfronted/.pnp.js

/fronted/coverage
/fronted/build

/fronted/.DS_Store
/fronted/.env.local
/fronted/.env.development.local
/fronted/.env.test.local
/fronted/.env.production.local

/fronted/npm-debug.log*
fronted/yarn-debug.log*
/fronted/yarn-error.log*
/node_modules